@import "src/assets/styles/typography";
@import "src/assets/styles/layout";

.link {
  @include p;
  color: dimgray;
  text-decoration: none;
}

.wrapper {
  margin: 15px 0;
}

@include breakpoint(tabletOnly) {
  .link{
    font-size: 9px;
  }

  .wrapper {
    margin: 10px 0;
  }
}

@include breakpoint(mobileOnly) {
   .link{
     font-size: 8px;
   }

  .wrapper {
    margin: 5px 0;
  }
}


